// colours
$amber-primary: #ffaa33;
$amber-bright: #ffbb5c;

$red-primary: #cb152b;
$red-bright: #e82139;

$cyan-primary: #3eb4b6;
$cyan-bright: #58c4c6;

$text: #fff;

$bg-primary: #021627;
$bg-secondary: #0a1b2a;
$bg-bright: #1d2e40;
$bg-brighter: #283a4d;

$outline: #7d8892;
$highlight: #a7aeb4;

// spacing
$px-xxs: 10px;
$px-xs: 15px;
$px-s: 25px;
$px-m: 50px;
$px-l: 100px;
$px-xl: 215px;

// weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;