// colours
$amber-primary: #ffaa33;
$amber-bright: #ffbb5c;

$red-primary: #cb152b;
$red-bright: #e82139;

$cyan-primary: #3eb4b6;
$cyan-bright: #58c4c6;

$text: #fff;

$bg-primary: #021627;
$bg-bright: #1d2e40;

$outline: #7d8892;
$highlight: #a7aeb4;

// spacing
$px-xs: 15px;
$px-s: 25px;
$px-m: 50px;
$px-l: 100px;
$px-xl: 215px;
