<div class="view-media-wrapper">
    <h1>Your list</h1>
    <div class="content-wrapper">
        <div class="list-wrapper">
            <!-- <div class="search-wrapper"></div> -->
            <div class="list">
                <div class="list-item-wrapper" *ngFor="let soul of mediaSoulArray">
                    <a routerLink="./{{soul.id}}"><app-media-list-item [mediaSoul]="soul"></app-media-list-item></a>
                </div>
            </div>
        </div>
        <div class="detail-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
