@import "../../../../../styles";

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp($px-l, 25%, $px-xl);
}

.list-wrapper, .detail-wrapper {
    flex: 1;
}

.list-item-wrapper {
    border-bottom: 1px solid $bg-primary;
}