@import "./app/styles/variables";
@import "./app/styles/fonts";
@import "./app/styles/headings";

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: $bg-primary;
}